[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "volume_approximation"]
	path = volume_approximation
	url = https://github.com/GeomScale/volume_approximation.git
	branch = volesti4dingo
